/*
* FONTS
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
*/
nav
{
	background-color: #abfb5d;
	top: 0;
}
ul
{
	list-style-type: none;
	display: flex;
}

li
{
	font-family: 'Open Sans Condensed', sans-serif;
	/*display: inline;*/
	padding: 1.5em 1em 0.5em 1em ;
}
li a {
	text-decoration: none;
	color: #4e4e4e;
}



.home-content
{
	height: 768px;
}
